.app {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
  height: auto;

}

.input-container {
  margin-bottom: 10px;
}

input[type='text'] {
  padding: 5px;
  margin-right: 10px;
}

h2 {
  text-align: left;
}

.add-btn {
  background-color: rgb(177, 11, 177);
  width: 30px;
  height: 30px;
  padding: 5px 10px;
  background-color: #ea00ff;
  color: white;
  border: none;
  cursor: pointer;
}

.del-btn {
  background-color: rgb(253, 24, 24);
  border: 2px solid black;
  padding: 5px 10px;
  margin-left: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.items-container {
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgb(236, 236, 236);
  padding: 0px 5px;
  width: 100%;

}

.btn-clear {

  margin-top: 10px;
  padding: 5px 10px;
  background-color: rgb(177, 11, 177);
  margin-left: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

img {
  width: 20px;
  height: 20px;
}